* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #237ed3;
    text-align: center;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
    font-size: 44px;
    font-weight: bold;
}